{% extends 'account/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h4>Login here :</h4><form method="post" action="/login">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="username"><label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password"><input type="submit" name="" value="Login"></form></div>
  </div>
{% endblock %}